<div class="header-content">
  <div class="header">
    <div class="logo">
      <h1>ARTMISIAK</h1>
      <img class="logo-png" src="/assets/logo.png" alt="image" />
    </div>
    <div class="line"></div>
    <div class="navbar">
      <button class="nav-button" (click)="clickedHome()">Home</button>
      <button class="nav-button" (click)="clickedKonsultacje()">Konsultacje</button>
      <button class="nav-button" (click)="clickedInfo()">Info</button>
      <button class="nav-button" (click)="clickedKontakt()">Kontakt</button>
      <button class="nav-button" (click)="clickedGaleria()">Galeria</button>
    </div>
  </div>
</div>
