.page-content {
  background-color: #fdfcf9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo {
  height: 30%;
  width: 30%;
  margin-top: 50px;
}
