<app-navbar></app-navbar>
<div class="page-content">
  <div class="opening-text">
    <h2>Galeria</h2>
    <p>Fantastyczne Portfolio</p>
  </div>
  <div class="photos">
    <div class="column">
      <img class="example-photo" src="/assets/photo1.PNG" alt="image" />
      <img class="example-photo" src="/assets/photo1.PNG" alt="image" />
      <img class="example-photo" src="/assets/photo1.PNG" alt="image" />
      <img class="example-photo" src="/assets/photo1.PNG" alt="image" />
      <img class="example-photo" src="/assets/photo1.PNG" alt="image" />
    </div>
    <div class="column">
      <img class="example-photo" src="/assets/photo1.PNG" alt="image" />
      <img class="example-photo" src="/assets/photo1.PNG" alt="image" />
      <img class="example-photo" src="/assets/photo1.PNG" alt="image" />
      <img class="example-photo" src="/assets/photo1.PNG" alt="image" />
      <img class="example-photo" src="/assets/photo1.PNG" alt="image" />
    </div>
  </div>
</div>
<app-footbar></app-footbar>
