<app-navbar></app-navbar>
<div class="page-content">
  <div class="opening-text">
    <h2>Galeria</h2>
    <p>Fantastyczne Portfolio</p>
  </div>
  <div class="photos">
    <div class="column">
      <img class="example-photo" src="/assets/GALERIA 1.png" alt="image" />
      <img class="example-photo" src="/assets/GALERIA 2.png" alt="image" />
      <img class="example-photo" src="/assets/GALERIA 3.png" alt="image" />
      <img class="example-photo" src="/assets/GALERIA 4.png" alt="image" />
      <img class="example-photo" src="/assets/GALERIA 5.png" alt="image" />
      <img class="example-photo" src="/assets/GALERIA 6.png" alt="image" />
      <img class="example-photo" src="/assets/GALERIA 7.png" alt="image" />
      <img class="example-photo" src="/assets/GALERIA 8.png" alt="image" />
      <img class="example-photo" src="/assets/GALERIA 9.png" alt="image" />
    </div>
    <div class="column">
      <img class="example-photo" src="/assets/GALERIA 10.png" alt="image" />
      <img class="example-photo" src="/assets/GALERIA 11.png" alt="image" />
      <img class="example-photo" src="/assets/GALERIA 12.png" alt="image" />
      <img class="example-photo" src="/assets/GALERIA 13.png" alt="image" />
      <img class="example-photo" src="/assets/GALERIA 14.png" alt="image" />
      <img class="example-photo" src="/assets/GALERIA 15.png" alt="image" />
      <img class="example-photo" src="/assets/GALERIA 16.png" alt="image" />
      <img class="example-photo" src="/assets/GALERIA 17.png" alt="image" />
      <img class="example-photo" src="/assets/GALERIA 18.png" alt="image" />
    </div>
  </div>
</div>
<app-footbar></app-footbar>
