<app-navbar></app-navbar>
<div class="page-content">
  <div class="block-01">
    <h3>KONSULTACJE</h3>
  </div>
  <div class="block-02">
    <div class="photo-and-text">
      <img class="example-photo" src="/assets/photo1.PNG" alt="image" />
      <h6>I Etap</h6>
      <p>
        Zastanawiasz się jak urządzić mieszkanie, dom<br />
        , ogród, działkę lub chcesz odświeżyć wnętrze, a może zaprojektować<br />
        oryginalny element dekoracyjny do swojego domu? Skontaktuj się z nami
        telefonicznie lub e-mail.
      </p>
    </div>
    <div class="photo-and-text">
      <img class="example-photo" src="/assets/photo1.PNG" alt="image" />
      <h6>I Etap</h6>
      <p>
        Zastanawiasz się jak urządzić mieszkanie, dom<br />
        , ogród, działkę lub chcesz odświeżyć wnętrze, a może zaprojektować<br />
        oryginalny element dekoracyjny do swojego domu? Skontaktuj się z nami
        telefonicznie lub e-mail.
      </p>
    </div>
    <div class="photo-and-text">
      <img class="example-photo" src="/assets/photo1.PNG" alt="image" />
      <h6>I Etap</h6>
      <p>
        Zastanawiasz się jak urządzić mieszkanie, dom<br />
        , ogród, działkę lub chcesz odświeżyć wnętrze, a może zaprojektować<br />
        oryginalny element dekoracyjny do swojego domu? Skontaktuj się z nami
        telefonicznie lub e-mail.
      </p>
    </div>
  </div>
  <div class="block-03">
    <div class="photo-and-text">
      <img class="example-photo" src="/assets/photo1.PNG" alt="image" />
      <h6>I Etap</h6>
      <p>
        Zastanawiasz się jak urządzić mieszkanie, dom<br />
        , ogród, działkę lub chcesz odświeżyć wnętrze, a może zaprojektować<br />
        oryginalny element dekoracyjny do swojego domu? Skontaktuj się z nami
        telefonicznie lub e-mail.
      </p>
    </div>
    <div class="photo-and-text">
      <img class="example-photo" src="/assets/photo1.PNG" alt="image" />
      <h6>I Etap</h6>
      <p>
        Zastanawiasz się jak urządzić mieszkanie, dom<br />
        , ogród, działkę lub chcesz odświeżyć wnętrze, a może zaprojektować<br />
        oryginalny element dekoracyjny do swojego domu? Skontaktuj się z nami
        telefonicznie lub e-mail.
      </p>
    </div>
    <div class="photo-and-text">
      <img class="example-photo" src="/assets/photo1.PNG" alt="image" />
      <h6>I Etap</h6>
      <p>
        Zastanawiasz się jak urządzić mieszkanie, dom<br />
        , ogród, działkę lub chcesz odświeżyć wnętrze, a może zaprojektować<br />
        oryginalny element dekoracyjny do swojego domu? Skontaktuj się z nami
        telefonicznie lub e-mail.
      </p>
    </div>
  </div>
</div>
<app-footbar></app-footbar>
