<app-navbar></app-navbar>
<div class="page-content">
  <div class="block-01">
    <h3>KONSULTACJE</h3>
  </div>
  <div class="block-02">
    <div class="photo-and-text">
      <img class="example-photo" src="/assets/KONSULTACJE 1.png" alt="image" />
      <div class="text">
        <h6>I Etap</h6>
        <p>
          Zastanawiasz się jak urządzić mieszkanie, dom <br />
          ogród, działkę lub chcesz odświeżyć wnętrze ?<br />
          Zaprojektować oryginalny element dekoracyjny do swojego domu?<br />
          Skontaktuj się z nami telefonicznie lub e-mail.
        </p>
      </div>
    </div>
    <div class="photo-and-text">
      <img class="example-photo" src="/assets/KONSULTACJE 2.png" alt="image" />
      <div class="text">
        <h6>II Etap</h6>
        <p>
          Umówimy spotkanie na miejscu lub dłuższe spotkanie telefoniczne.<br />
          Omówimy czego dokładnie potrzebujesz i jak dokładnie wygląda <br />
          nasza współpraca nad tym czego oczekujesz.
        </p>
      </div>
    </div>
    <div class="photo-and-text">
      <img class="example-photo" src="/assets/KONSULTACJE 3.png" alt="image" />
      <div class="text">
        <h6>III Etap</h6>
        <p>
          Po spotkaniu i rozmowie, my przygotowujemy wstępną propozycje <br />
          za którą nic nie płacisz, ale jest na niej przedstawiony głównie
          pomysł<br />
          czy rozwiązanie do projektu, żebyś miał/a wgląd jak wygląda wizja z
          naszej strony.
        </p>
      </div>
    </div>
  </div>
  <div class="block-03">
    <div class="photo-and-text">
      <img class="example-photo" src="/assets/KONSULTACJE 4.png" alt="image" />
      <div class="text">
        <h6>IV Etap</h6>
        <p>
          Spotykamy się ponownie na miejscu lub przesyłamy ci wszystkie pliki na
          e-mail<br />
          umawiamy się na rozmowę, w której pokazujemy ci projekt, propozycje,
          rozwiązanie<br />
          oraz jak widzimy realizacje i wycenę całego projektu. <br />
          Spokojnie na tym etapie jeszcze nie musisz się decydować <br />
          dajemy ci kilka dni na decyzję i zadzwonienie ponownie.
        </p>
      </div>
    </div>
    <div class="photo-and-text">
      <img class="example-photo" src="/assets/KONSULTACJE 5.png" alt="image" />
      <div class="text">
        <h6>V Etap</h6>
        <p>
          Jeśli decydujesz się podjąć z nami współpracę, dzielimy cenę na dwa
          <br />
          pierwszą zaliczkę wpłacasz na początku, a my realizujemy projekty
          techniczne dla fachowców <br />
          wybieramy rzeczy z linkami do sklepów lub w przypadku rzeczy
          dekoracyjnych<br />
          realizujemy formę z projektu lub ją dopracowujemy, będąc w stałym
          kontakcie z tobą.
        </p>
      </div>
    </div>
    <div class="photo-and-text">
      <img class="example-photo" src="/assets/KONSULTACJE 6.png" alt="image" />
      <div class="text">
        <h6>VI Etap</h6>
        <p>
          W ciągu tygodnia zawsze możesz zadzwonić i dopytać się o realizacje<br />
          lub zadać nam pytanie od twoich fachowców.<br />
          Oczywiście jesteśmy otwarci i jeśli potrzebujesz zmian w trakcie
          projektu<br />
          spotkamy się i omówimy go jeszcze raz.<br />
          Zostajemy w kontakcie do końca projektu i dopiero na koniec realizacji
          przyjmujemy resztę sumy za projekt.
        </p>
      </div>
    </div>
  </div>
</div>
<app-footbar></app-footbar>
