<div class="header-content">
  <div class="header">
    <div class="logo">
      <h1>ARTMISIAK</h1>
    </div>
    <div class="line"></div>
    <div class="navbar">
      <button class="nav-button">Home</button>
      <button class="nav-button">Konsultacje</button>
      <button class="nav-button">Info</button>
      <button class="nav-button">Kontakt</button>
      <button class="nav-button">Usługi</button>
      <button class="nav-button">Galeria</button>
    </div>
  </div>
</div>

<div class="page-content">
  <div class="block-01">
    <h1>ARTMISIAK</h1>
    <h5>Dążymy do estetyki!</h5>
  </div>
  <img class="main-photo" src="/assets/photo1.PNG" alt="image" />
  <div class="block-02">
    <div class="text-background">
      <p class="text">
        Każde zlecenie jest sprawą indywidualną, to aranżacja wnętrz jest dla
        nas otwartą księgą, dlatego już w trakcie pierwszej rozmowy jesteśmy w
        stanie odpowiedzieć na wiele pytań i zaproponować ciekawe rozwiązania.
      </p>
    </div>
    <div class="block-02-photos">
      <img class="example-photo" src="/assets/photo1.PNG" alt="image" />
      <img class="example-photo" src="/assets/photo1.PNG" alt="image" />
    </div>
  </div>
  <div class="block-03">
    <h1>Usługi firmy artmisiak</h1>
    <h5>Twoje potrzeby przede wszystkim</h5>
  </div>
  <div class="block-04">
    <button class="block-04-button">GALERIA ZDJĘĆ</button>
    <button class="block-04-button">KONSULTACJE</button>
    <button class="block-04-button">KONTAKT</button>
  </div>
  <div class="block-05">
    <img class="block-05-photo" src="/assets/photo1.PNG" alt="image" />
    <img class="block-05-photo" src="/assets/photo1.PNG" alt="image" />
    <img class="block-05-photo" src="/assets/photo1.PNG" alt="image" />
  </div>
  <div class="block-06">
    <img class="block-06-photo" src="/assets/photo1.PNG" alt="image" />
    <div class="block-06-text-background">
      <h5>Godziny Otwarcia</h5>
      <h6>Odwiedź nas!</h6>
      <p>
        Czynne: pon. — pt.: 9:00 — 18:00 <br>
        sobota: 10:00 — 14:00 <br>
        niedziela: nieczynne
      </p>
    </div>
  </div>
  <div class="block-07">
    <h1>KONTAKT</h1>
    <p>wmisiakwork@gmail.com</p>
    <p>+48 519182616</p>
  </div>
</div>
